body{
    font-size: 20px;
    font-family: monospace;
	background-color: #45aaf2;
}

#container{
    margin : 20px auto;
    background-color: #2c3e50;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative; 
}
#start{
    font-size: 1.3em;
    font-weight: bolder;
    word-break: break-all;
    width:250px;
    height:50px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:230px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#result{
    margin : 20px auto;
    background-color: #2c3e50;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative; 
    text-align: center;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
	color:#fff;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px;
	color:#fff;
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    left: 70px;
    padding:30px;
    text-align: center;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 100px;
    width : 200px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#scoreContainer img{
    margin : 100px auto;
    position: relative;
    height: 200px;
    width : 400px;
    margin-right: auto;
    margin-left: -100px;
    margin-bottom: auto;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 200px;
    height :100px;
    top:20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.tombol{
	background: #9de9a0;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
    padding: 10px 20px;
    margin-bottom: 50px;
}
.tabel{
	padding: 5px;
    font-size: 11pt;
}